.herosec{
    height: 400px;
    width: 100%;
    background-image: 
linear-gradient(to right, rgba(249, 126, 255, 0.52), rgba(136, 136, 136, 0.73)),url('./Resources/kenny-eliason-zFSo6bnZJTw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    justify-content:center;
    align-items:center;
}
.form{

    height: 90%;
    width: 400px;
    background: #353535;
    border-radius: 13px;
}
.circle{
    height: 50px ;
    width: 50px;
    border: white 2px dashed;
    border-radius: 50%;
}
.center{
    display: flex;
    justify-content:center;
    align-items:center;
}